* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: FirstFont;
    src: url(Graphik/Graphik-Medium-Trial.otf);
}

@font-face {
    font-family: SecondFont;
    src: url(Graphik/Graphik-Regular-Trial.otf);
}

@font-face {
    font-family: HeroSectionFont;
    src: url(Fonts/DeaconTest-Black-BF63c8afcc1411e.otf);
}

/* Header Section Styling */

header {
    padding: 20px 40px;
    background-color: #122315;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div {
    display: flex;
}


header nav div ul {
    display: flex;
    gap: 30px;
    margin-left: 100px;
}

header nav div img {
    width: 100px;
}

header nav div ul li {
    font-size: 14px;
    font-family: FirstFont;
    color: #f5f5f5;
    list-style-type: none;
    cursor: pointer;
}

header nav div button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #55DD4A;
    outline: none;
    border: 1px;
    font-size: 16px;
    font-family: FirstFont;
    font-weight: 500;
    cursor: pointer;
}

.login {
    color: white;
    background-color: #122315;
    border: 1px solid rgba(255, 255, 255, 0.292);
    margin-right: 20px;
}

/* Hero Section Styling */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #122315;
    padding-top: 120px;
}

.hero-section h1 {
    font-size: 146px;
    color: white;
    font-family: HeroSectionFont;
    line-height: 122px;
    color: #F3EDE4;
}

.hero-section h1 span {
    color: #55DD4A;
}

.hero-section p {
    font-size: 16px;
    width: 600px;
    color: white;
    font-family: SecondFont;
    font-weight: 100;
    margin-top: 30px;
    line-height: 24px;
}

.hero-section button {
    margin-top: 30px;
}

.hero-section img {
    width: 100%;
    margin-top: -86px;
}

/* Two Section Styling */

.two {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #F3EDE4;
}

.two-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img1 {
    position: relative;
    top: 250px;
    left: 250px;
}

.img2 {
    position: relative;
    right: 120px;
    bottom: 80px;
}

.img3 {
    position: relative;
    right: 200px;
    top: 30px;
}

.two-box h1 {
    font-size: 108px;
    font-family: HeroSectionFont;
    color: #122315;
    line-height: 110px;
    width: 900px;
}

.two-box p {
    font-size: 18px;
    font-family: SecondFont;
    width: 700px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Three Section Styling */

.three {
    background-color: #F3EDE4;
    padding: 60px 40px;
}

.three-box {
    display: flex;
    justify-content: center;
    gap: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    padding-top: 40px;
}

.three-box-heading {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.three-box-heading span{
    padding: 10px;
    background-color: #55DD4A;
    font-size: 18px;
    border-radius: 50px;
    font-family: FirstFont;
}

.three-box-heading h1{
    font-size: 70px;
    font-family: HeroSectionFont;
    width: 400px;
    margin-top: 30px;
    line-height: 60px;
}

.three-box-heading p {
    font-size: 18px;
    font-family: SecondFont;
    margin-bottom: 10px;
    line-height: 30px;
}

.three-box-image img {
    width: 100%;
}

.border-remove{
    border: none;
}

/* Same Styling */

button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #55DD4A;
    outline: none;
    border: 1px;
    font-size: 16px;
    font-family: FirstFont;
    font-weight: 500;
    cursor: pointer;
}